@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

html{
    overflow-x: hidden;
}

body{
    background: #e31323;
    overflow: hidden;
}
.message{
    position: sticky;
    top: 15px;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    max-width: 1200px;
    animation: fadeIn .4s cubic-bezier(.3, 1.41, .4, 1.46);
}


@keyframes fadeIn{
        0%{
            transform: translateY(-10px) scale(.7);
        }
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.box{
    position: relative;
}

.square{
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    animation: square 10s linear infinite;
    animation-delay: calc(-1s*var(--i));
}

@keyframes square{
    0%,100%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(20px);
    }

}

.square:nth-child(1){
    width: 100px;
    height: 100px;
    top: -15px;
    right: -45px;
}

.square:nth-child(2){
    width: 150px;
    height: 150px;
    top: 105px;
    left: -125px;
    z-index: 2;
}

.square:nth-child(3){
    width: 60px;
    height: 60px;
    bottom: 85px;
    right: -45px;
    z-index: 2;
}

.square:nth-child(4){
    width: 50px;
    height: 50px;
    bottom: 35px;
    left: -95px;
}

.square:nth-child(5){
    width: 50px;
    height: 50px;
    top: -15px;
    left: -25px;
}

.square:nth-child(6){
    width: 85px;
    height: 85px;
    top: 165px;
    right: -155px;
    z-index: 2;
}

.container{
    position: relative;
    padding: 50px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}


.container::after{
    position: absolute;
    content: '';
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border-radius: 5px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 2%);
}

form{
    padding: 2rem;
    position: relative;
    width: 500px;
}

h2{
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.inputBx{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

label{
    text-transform: uppercase;
    color: #fff;
}

input{
    width: 90%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    margin-left: .5rem 0;
}

input[type="submit"]{
    background: #fff;
    color: #111;
    width: 90%;
    padding: 10px 10px;
    box-shadow: none;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 1.5s;
}

input[type="submit"]:hover, .content .box .btn:hover, .delete-btn:hover {
    background: linear-gradient(115deg, rgba(0, 0, 0, 0.10), rgba(255, 255, 255, 0.25));
    color: #fff;
    transition: .5s ;
}


p {
    color: #fff;
    font-size: 15px;
    margin-top: 5px;
    text-transform: capitalize;
    padding-left: .5rem;
}

p a {
    color: #fff;
}

p a:hover {
    color: red;
}

.content{
    height: 60vh;
    width: 500px;
}

.content .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 97%;
    height: 97%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    text-align: center;
}

.content .box{
    text-transform: capitalize;
    font-size:  20px;
    margin-bottom: 10px;
    color: #fff;
}

.content .box h3 span{
    color: crimson;
}


.content .box .flex-btn{
    display: flex;
    gap: 10px;
}

 .btn, .delete-btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 1rem;
    
    
}

.delete-btn{
    width: 58%;
}


